---
layout: default
---

<!DOCTYPE html>
<html lang="de">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modulkatalog - Technische Hochschule Brandenburg</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="../vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="../css/freelancer.min.css" rel="stylesheet">

</head>


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/module">Modulkatalog THB</a>
      </div>
    </nav>
<br><br>

<section id="module">
      <div class="container">
        <h4 class="text-center text-uppercase text-secondary mb-0">Wirtschaftsinformatik B.Sc.</h4>
        <hr class="star-dark mb-5">
        <div class="row">
          <div class="col-lg-8 mx-auto">
 


<h5>Informationen zum Modul:</h5>

 


<table class="table">


    <tr>
        <th>Modul-Kennzeichen</th><td>
        {% assign tests = page.rdf | rdf_property: '<https://schema.org/courseCode>', nil, true %}

        {% for res in tests %}
        {{res}}<br />
        {% endfor %}
    </td></tr>

    <tr>
        <th>Modulbezeichnung</th><td>
		{{ page.rdf | rdf_property: '<https://schema.org/name>','en'}} @en</br>
		{{ page.rdf | rdf_property: '<https://schema.org/name>','de'}} @de
    </td></tr>

    <tr>
        <th>Aufteilung in Lehrveranstaltungen</th><ul><td>
        {% assign tests = page.rdf | rdf_property: '<https://schema.org/learningResourceType>', nil, true %}

        {% for res in tests %}
        <li> {{res}}<br /></li>
       {% endfor %}
    </td></ul></tr>

    <tr>
        <th>Dauer des Moduls</th>
        <td>
            {% capture duration_query %}
            SELECT DISTINCT ?duration WHERE {
        ?resourceUri <https://schema.org/hasCourseInstance> ?courseinstance.
        ?courseinstance a <https://schema.org/CourseInstance>;
        <https://schema.org/duration> ?duration.
        }
            {% endcapture %}
            {% assign listelements = page.rdf | sparql_query: duration_query %}
            {% for result in listelements %}
			{% assign n = result.duration | size %}
			{%  assign n = n | minus: 4  %}
			{{ result.duration | slice: n, 3 }} Jahr<br />
            {% endfor %}
			
        </td></tr>

    <tr>
        <th>Zuordnung zum Curriculum</th><td>
            
                {% capture modultyp_query %}
                SELECT DISTINCT ?modultyp  WHERE {
            ?resourceUri <https://schema.org/educationalAlignment> ?alignment.
            ?alignment a <https://schema.org/AlignmentObject>;
            <https://schema.org/alignmentType> ?alignmentType;
            <https://schema.org/targetName> ?modultyp.
            FILTER (regex(?alignmentType, "Modultyp", "i")).
            }
                {% endcapture %}
                {% assign listelements = page.rdf | sparql_query: modultyp_query %}
                {% for result in listelements %}
                {{result.modultyp}}<br />
                {% endfor %}
            
                {% capture alignment_query %}
                SELECT DISTINCT ?curriculum  WHERE {
            ?resourceUri <https://schema.org/educationalAlignment> ?alignment.
            ?alignment a <https://schema.org/AlignmentObject>;
            <https://schema.org/alignmentType> ?alignmentType;
            <https://schema.org/targetDescription> ?curriculum.
            FILTER (regex(?alignmentType, "Zuordnung zum Curriculum", "i")).
            }
                {% endcapture %}
                {% assign listelements = page.rdf | sparql_query: alignment_query %}
                {% for result in listelements %}
                {{result.curriculum}}<br />
                {% endfor %} 
                
    </td></tr>

    <tr>
        <th>Verwendbarkeit des Moduls</th><td>
        {% assign tests = page.rdf | rdf_property: '<https://schema.org/educationalUse>', nil, true %}

        {% for res in tests %}
        {{res}}<br />
        {% endfor %}
    </td></tr>

    <tr>
        <th>Häufigkeit des Angebots von Modulen</th><td>
            {% capture mode_query %}
            SELECT DISTINCT ?mode WHERE {
            ?resourceUri <https://schema.org/hasCourseInstance> ?instance.
            ?instance a <https://schema.org/CourseInstance>;
            <https://schema.org/courseMode> ?mode.
            }
            {% endcapture %}
            {% assign listelements = page.rdf | sparql_query: mode_query %}
            {% for result in listelements %}
            {{result.mode}}<br />
            {% endfor %}
    </td></tr>

    <tr>
        <th>Autor/in</th><td>
        {{ page.rdf | rdf_property: '<https://schema.org/accountablePerson>' }}
    </td></tr>

    <tr>
        <th>Dozent/in</th>
        <td>
            {% capture instructor_query %}
            SELECT DISTINCT ?instructorName WHERE {
            ?resourceUri <https://schema.org/accountablePerson> ?instructor.
            ?instructor a <https://bmake.th-brandenburg.de/module/Lecturer>;
            <http://www.w3.org/2000/01/rdf-schema#label> ?instructorName.
            }
            {% endcapture %}
            {% assign listelements = page.rdf | sparql_query: instructor_query %}
            {% for result in listelements %}
            {{result.instructorName}}<br />
            {% endfor %}
        </td>
    </tr>

    <tr>
        <th>Lehrsprache</th><td>
        {% assign tests = page.rdf | rdf_property: '<https://schema.org/inLanguage>', nil, true %}

        {% for res in tests %}
		{% if res == 'en' %}
		  Englisch<br />
		{% endif %}
		{% if res == 'de' %}
		  Deutsch<br />
		{% endif %}
        {% endfor %}
    </td></tr>

    <tr>
        <th>Voraussetzungen</th><td>
        {% assign tests = page.rdf | rdf_property: '<https://schema.org/coursePrerequisites>', nil, true %}

        {% for res in tests %}
        {{res}}<br />
        {% endfor %}
    </td></tr>

    <tr>
        <th>ECTS-Credits</th><td>
        {% assign tests = page.rdf | rdf_property: '<https://schema.org/educationalCredentialAwarded>', nil, true %}

        {% for res in tests %}
        {{res}}<br />
        {% endfor %}
    </td></tr>

    <tr>
        <th>Gesamtworkload und ihre Zusammensetzung</th><ul>
        <td>{% assign tests = page.rdf | rdf_property: '<https://schema.org/timeRequired>', nil, true %}

            {% for res in tests %}
            <li>Gesamt: 
				{% assign n = res | size %}
				{%  assign n = n | minus: 4  %}
				{{ res | slice: n, 3 }} Stunden<br /></li>
            {% endfor %}

            {% capture workload_query %}
            SELECT DISTINCT ?name ?value WHERE {
            ?resourceUri <https://schema.org/additionalProperty> ?propertyvalue.
            ?propertyvalue a <https://schema.org/PropertyValue>;
            <https://schema.org/identifier> ?identifier;
            <https://schema.org/valueReference> ?valueReference.
            FILTER regex(?identifier, "Workload", "i").
            ?valueReference a  <https://schema.org/PropertyValue>;
            <https://schema.org/name> ?name;    
            <https://schema.org/value> ?value.
            
            }
            ORDER BY ASC(?name)
            {% endcapture %}
            {% assign listelements = page.rdf | sparql_query: workload_query %}
            {% for result in listelements %}
            <li>{{result.name}}: {{result.value}}<br /></li>
            {% endfor %}
        </td></ul>
    </tr>

    <tr>
        <th>Lehrform/SWS</th><td>
            {% capture sws_query %}
            SELECT DISTINCT ?swsLabel  WHERE {
        ?resourceUri <https://schema.org/educationalAlignment> ?alignment.
        ?alignment a <https://schema.org/AlignmentObject>;
        <https://schema.org/alignmentType> ?alignmentType;
        <https://schema.org/targetName> ?swsLabel.
        FILTER (regex(?alignmentType, "SWS", "i")).
        }
            {% endcapture %}
            {% assign listelements = page.rdf | sparql_query: sws_query %}
            {% for result in listelements %}
            {{result.swsLabel}}<br />
            {% endfor %}
    </td></tr>

    <tr>
        <th>Studien-/Prüfungsleistungen</th><ul>
        <td>
            {% capture listelements_query %}
            SELECT DISTINCT ?listelements WHERE {
            ?resourceUri <https://schema.org/about> ?itemlist.
            ?itemlist a <https://schema.org/ItemList>;
            <https://schema.org/name> ?name;
            <https://schema.org/itemListElement> ?listelements.
            FILTER regex(?name, "Studien-/Prüfungsleistungen", "i").
            }
            ORDER BY ASC(?listelements)
            {% endcapture %}
            {% assign listelements = page.rdf | sparql_query: listelements_query %}
            {% for result in listelements %}
            <li>{{result.listelements}}<br /></li>
            {% endfor %}
        </td><ul>
    </tr>

    <tr>
        <th>Gewichtung der Note in der Gesamtnote</th><td>
                {% capture grade_query %}
                SELECT DISTINCT ?grade  WHERE {
            ?resourceUri <https://schema.org/educationalAlignment> ?alignment.
            ?alignment a <https://schema.org/AlignmentObject>;
            <https://schema.org/alignmentType> ?alignmentType;
            <https://schema.org/targetName> ?grade.
            FILTER (regex(?alignmentType, "Gewichtung der Note", "i")).
            }
                {% endcapture %}
                {% assign listelements = page.rdf | sparql_query: grade_query %}
                {% for result in listelements %}
                {{result.grade}}<br />
                {% endfor %} 
    </td></tr>

    <tr>
        <th>Lernergebnisse</th>
        <td><ul>
            {% capture lernergebnis_query %}
            SELECT DISTINCT ?listelements WHERE {
            ?resourceUri <https://schema.org/about> ?itemlist.
            ?itemlist a <https://schema.org/ItemList>;
            <https://schema.org/identifier> ?name;
            <https://schema.org/itemListElement> ?listelements.
            FILTER regex(?name, "Results", "i").
            }
            ORDER BY ASC(?listelements)
            {% endcapture %}
            {% assign listelements = page.rdf | sparql_query: lernergebnis_query %}
            {% for result in listelements %}
            <li>{{result.listelements}}<br /></li>
            {% endfor %}
        </td></ul>
    </tr>

    <tr>
        <th>Inhalte</th>
        <td>
            {% capture listelements_query %}
            SELECT DISTINCT ?listelements WHERE {
            ?resourceUri <https://schema.org/about> ?itemlist.
            ?itemlist a <https://schema.org/ItemList>;
            <https://schema.org/name> ?name;
            <https://schema.org/itemListElement> ?listelements.
            FILTER regex(?name, "Inhalt", "i").
            }
            ORDER BY ASC(?listelements)
            {% endcapture %}
            {% assign listelements = page.rdf | sparql_query: listelements_query %}
            {% for result in listelements %}
            {{result.listelements}}<br />
            {% endfor %}
        </td>
    </tr>

    <tr>
        <th>Lehr- und Lernmethoden</th><ul><td>
        {% assign tests = page.rdf | rdf_property: '<https://schema.org/interactivityType>', nil, true %}

        {% for res in tests %}
        <li>{{res}}<br /></li>
        {% endfor %}
    </td></ul></tr>

    <tr>
        <th>Literatur</th><ul>
        <td>
            {% capture citation_query %}
            SELECT DISTINCT ?headline ?authorName WHERE {
            ?resourceUri <https://schema.org/citation> ?citation.
            ?citation a <https://schema.org/Book>;
			<https://schema.org/author> ?author;
			<https://schema.org/headline> ?headline.
			?author <http://www.w3.org/2000/01/rdf-schema#label> ?authorName.
            }
            ORDER BY ASC(?headline)
            {% endcapture %}
            {% assign listelements = page.rdf | sparql_query: citation_query %}
            {% for result in listelements %}
            <li>{{result.authorName}}:<br />{{result.headline}}</li>
            {% endfor %}
        </td></ul>
    </tr>

    <tr>
        <th>Besonderes</th>
        <td>{{ page.rdf | rdf_property: '<https://schema.org/comment>' }}</td>
    </tr>

     <tr>
    <th>URL</th>
    <td><a href="{{ page.rdf | rdf_property: '<https://schema.org/url>' }}">{{ page.rdf | rdf_property: '<https://schema.org/url>' }}</a></td>
  </tr>

  
</table>
<br><br>

</div>
</div>
</div>

   <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Copyright &copy; WIM EKGI @ THB - Team 1</small>
      </div>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="../vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../js/jqBootstrapValidation.js"></script>
    <script src="../js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../js/freelancer.min.js"></script>

<!-- you need to include the shieldui css and js assets in order for the components to work -->
<link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light/all.min.css" />
<script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
<script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/jszip.min.js"></script>

     </body>

</html>