---
layout: default
---

<h2>Infos zum Modul:</h2>

<table class="table">

  <tr>
    <th>Name</th>
    <td>{{ page.rdf | rdf_property: '<http://www.w3.org/2000/01/rdf-schema#label>' }}</td>
  </tr>

  <tr>
    <th>Instructor</th>
    <td>{{ page.rdf | rdf_property: '<https://schema.org/accountablePerson>' }}</td>
  </tr> 
  
  <tr>
    <th>URL</th>
    <td><a href="{{ page.rdf | rdf_property: '<https://schema.org/url>' }}">{{ page.rdf | rdf_property: '<https://schema.org/url>' }}</a></td>
  </tr>
  
</table>