<!DOCTYPE html>

<html lang="de">

<head>

    <meta charset="utf-8">
    <meta name="description" content="Template für Module">
    <meta name="author" content="Team1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Modulkatalog - Technische Hochschule Brandenburg</title>

    <!-- Bootstrap  CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Fontawesome Icons --> 
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- Schriftarten für das Template -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- CSS für dieses Template -->
    <link href="../css/style.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/module">Modulkatalog THB</a>
        </div>
    </nav>
    <br><br>
    <br><br>
    <br><br>

    <section id="module">
        <div class="container">
            <h4 class="text-center text-uppercase text-secondary mb-0">Wirtschaftsinformatik B.Sc.</h4>
            <hr class="star-dark mb-5">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h5>Informationen zum Modul:</h5>
                    <table class="table">

                        <tr>
        <th>Modul-Kennzeichen</th><td>
        {% assign tests = page.rdf | rdf_property: '<https://schema.org/courseCode>', nil, true %}

        {% for res in tests %}
        {{res}}<br />
        {% endfor %}
    </td></tr>

    <tr>
        <th>Modulbezeichnung</th><td>
        {{ page.rdf | rdf_property: '<https://schema.org/name>','en'}} @en</br>
        {{ page.rdf | rdf_property: '<https://schema.org/name>','de'}} @de
    </td></tr>

    <tr>
        <th>Aufteilung in Lehrveranstaltungen</th><ul><td>
        {% assign tests = page.rdf | rdf_property: '<https://schema.org/learningResourceType>', nil, true %}

        {% for res in tests %}
        <li> {{res}}<br /></li>
       {% endfor %}
    </td></ul></tr>

    <tr>
        <th>Dauer des Moduls</th>
        <td>
            {% capture duration_query %}
            SELECT DISTINCT ?duration WHERE {
        ?resourceUri <https://schema.org/hasCourseInstance> ?courseinstance.
        ?courseinstance a <https://schema.org/CourseInstance>;
        <https://schema.org/duration> ?duration.
        }
            {% endcapture %}
            {% assign listelements = page.rdf | sparql_query: duration_query %}
            {% for result in listelements %}
            {% assign n = result.duration | size %}
            {% assign n = n | minus: 4 %}
			{% assign n = result.duration | slice: n, 3 %}
			{% assign n = n | times: 12 %}
			{{ n | round }} Monate<br />
            {% endfor %}
            
        </td></tr>

    <tr>
        <th>Zuordnung zum Curriculum</th><td>
            
                {% capture modultyp_query %}
                SELECT DISTINCT ?modultyp  WHERE {
            ?resourceUri <https://schema.org/educationalAlignment> ?alignment.
            ?alignment a <https://schema.org/AlignmentObject>;
            <https://schema.org/alignmentType> ?alignmentType;
            <https://schema.org/targetName> ?modultyp.
            FILTER (regex(?alignmentType, "Modultyp", "i")).
            }
                {% endcapture %}
                {% assign listelements = page.rdf | sparql_query: modultyp_query %}
                {% for result in listelements %}
                {{result.modultyp}}<br />
                {% endfor %}
            
                {% capture alignment_query %}
                SELECT DISTINCT ?curriculum  WHERE {
            ?resourceUri <https://schema.org/educationalAlignment> ?alignment.
            ?alignment a <https://schema.org/AlignmentObject>;
            <https://schema.org/alignmentType> ?alignmentType;
            <https://schema.org/targetDescription> ?curriculum.
            FILTER (regex(?alignmentType, "Zuordnung zum Curriculum", "i")).
            }
                {% endcapture %}
                {% assign listelements = page.rdf | sparql_query: alignment_query %}
                {% for result in listelements %}
                {{result.curriculum}}<br />
                {% endfor %} 
                
    </td></tr>

    <tr>
        <th>Verwendbarkeit des Moduls</th><td>
        {% assign tests = page.rdf | rdf_property: '<https://schema.org/educationalUse>', nil, true %}

        {% for res in tests %}
        {{res}}<br />
        {% endfor %}
    </td></tr>

    <tr>
        <th>Häufigkeit des Angebots von Modulen</th><td>
            {% capture mode_query %}
            SELECT DISTINCT ?mode WHERE {
            ?resourceUri <https://schema.org/hasCourseInstance> ?instance.
            ?instance a <https://schema.org/CourseInstance>;
            <https://schema.org/courseMode> ?mode.
            }
            {% endcapture %}
            {% assign listelements = page.rdf | sparql_query: mode_query %}
            {% for result in listelements %}
            {{result.mode}}<br />
            {% endfor %}
    </td></tr>

    <tr>
        <th>Autor/in</th><td>
        <a href="{{ page.rdf | rdf_property: '<https://schema.org/accountablePerson>' }}" target="blank">{{ page.rdf | rdf_property: '<https://schema.org/accountablePerson>' }}</a>
    </td></tr>

    <tr>
        <th>Dozent/in</th>
        <td>
            {% capture instructor_query %}
            SELECT DISTINCT ?instructorName WHERE {
            ?resourceUri <https://schema.org/accountablePerson> ?instructor.
            ?instructor a <https://bmake.th-brandenburg.de/module/Lecturer>;
            <http://www.w3.org/2000/01/rdf-schema#label> ?instructorName.
            }
            {% endcapture %}
            {% assign listelements = page.rdf | sparql_query: instructor_query %}
            {% for result in listelements %}
            {{result.instructorName}}<br />
            {% endfor %}
        </td>
    </tr>

    <tr>
        <th>Lehrsprache</th><td>
        {% assign tests = page.rdf | rdf_property: '<https://schema.org/inLanguage>', nil, true %}

        {% for res in tests %}
        {% if res == 'en' %}
          Englisch<br />
        {% endif %}
        {% if res == 'de' %}
          Deutsch<br />
        {% endif %}
        {% endfor %}
    </td></tr>

    <tr>
        <th>Voraussetzungen</th><td>
        {% assign tests = page.rdf | rdf_property: '<https://schema.org/coursePrerequisites>', nil, true %}

        {% for res in tests %}
        {{res}}<br />
        {% endfor %}
    </td></tr>

    <tr>
        <th>ECTS-Credits</th><td>
        {% assign tests = page.rdf | rdf_property: '<https://schema.org/educationalCredentialAwarded>', nil, true %}

        {% for res in tests %}
        {{res}}<br />
        {% endfor %}
    </td></tr>

    <tr>
        <th>Gesamtworkload und ihre Zusammensetzung</th><ul>
        <td>{% assign tests = page.rdf | rdf_property: '<https://schema.org/timeRequired>', nil, true %}

            {% for res in tests %}
            <li>Gesamt: 
                {% assign n = res | size %}
                {%  assign n = n | minus: 4  %}
                {{ res | slice: n, 3 }} Stunden<br /></li>
            {% endfor %}

            {% capture workload_query %}
            SELECT DISTINCT ?name ?value WHERE {
            ?resourceUri <https://schema.org/additionalProperty> ?propertyvalue.
            ?propertyvalue a <https://schema.org/PropertyValue>;
            <https://schema.org/identifier> ?identifier;
            <https://schema.org/valueReference> ?valueReference.
            FILTER regex(?identifier, "Workload", "i").
            ?valueReference a  <https://schema.org/PropertyValue>;
            <https://schema.org/name> ?name;    
            <https://schema.org/value> ?value.
            
            }
            ORDER BY ASC(?name)
            {% endcapture %}
            {% assign listelements = page.rdf | sparql_query: workload_query %}
            {% for result in listelements %}
            <li>{{result.name}}: {{result.value}}<br /></li>
            {% endfor %}
        </td></ul>
    </tr>

    <tr>
        <th>Lehrform/SWS</th><td>
            {% capture sws_query %}
            SELECT DISTINCT ?swsLabel  WHERE {
        ?resourceUri <https://schema.org/educationalAlignment> ?alignment.
        ?alignment a <https://schema.org/AlignmentObject>;
        <https://schema.org/alignmentType> ?alignmentType;
        <https://schema.org/targetName> ?swsLabel.
        FILTER (regex(?alignmentType, "SWS", "i")).
        }
            {% endcapture %}
            {% assign listelements = page.rdf | sparql_query: sws_query %}
            {% for result in listelements %}
            {{result.swsLabel}}<br />
            {% endfor %}
    </td></tr>

    <tr>
        <th>Studien-/Prüfungsleistungen</th><ul>
        <td>
            {% capture listelements_query %}
            SELECT DISTINCT ?listelements WHERE {
            ?resourceUri <https://schema.org/about> ?itemlist.
            ?itemlist a <https://schema.org/ItemList>;
            <https://schema.org/name> ?name;
            <https://schema.org/itemListElement> ?listelements.
            FILTER regex(?name, "Studien-/Prüfungsleistungen", "i").
            }
            ORDER BY ASC(?listelements)
            {% endcapture %}
            {% assign listelements = page.rdf | sparql_query: listelements_query %}
            {% for result in listelements %}
            <li>{{result.listelements}}<br /></li>
            {% endfor %}
        </td><ul>
    </tr>

    <tr>
        <th>Gewichtung der Note in der Gesamtnote</th><td>
                {% capture grade_query %}
                SELECT DISTINCT ?grade  WHERE {
            ?resourceUri <https://schema.org/educationalAlignment> ?alignment.
            ?alignment a <https://schema.org/AlignmentObject>;
            <https://schema.org/alignmentType> ?alignmentType;
            <https://schema.org/targetName> ?grade.
            FILTER (regex(?alignmentType, "Gewichtung der Note", "i")).
            }
                {% endcapture %}
                {% assign listelements = page.rdf | sparql_query: grade_query %}
                {% for result in listelements %}
                {{result.grade}}<br />
                {% endfor %} 
    </td></tr>

    <tr>
        <th>Lernergebnisse</th>
        <td><ul>
            {% capture lernergebnis_query %}
            SELECT DISTINCT ?listelements WHERE {
            ?resourceUri <https://schema.org/about> ?itemlist.
            ?itemlist a <https://schema.org/ItemList>;
            <https://schema.org/identifier> ?name;
            <https://schema.org/itemListElement> ?listelements.
            FILTER regex(?name, "Results", "i").
            }
            ORDER BY ASC(?listelements)
            {% endcapture %}
            {% assign listelements = page.rdf | sparql_query: lernergebnis_query %}
            {% for result in listelements %}
            <li>{{result.listelements}}<br /></li>
            {% endfor %}
        </ul></td>
    </tr>

    <tr>
        <th>Inhalte</th>
        <td><ol>
            {% capture listelements_query %}
            SELECT DISTINCT ?listelements WHERE {
            ?resourceUri <https://schema.org/about> ?itemlist.
            ?itemlist a <https://schema.org/ItemList>;
            <https://schema.org/name> ?name;
            <https://schema.org/itemListElement> ?listelements.
            FILTER regex(?name, "Inhalt", "i").
            }
            ORDER BY ASC(?listelements)
            {% endcapture %}
            {% assign listelements = page.rdf | sparql_query: listelements_query %}
            {% for result in listelements %}
			{% assign n = result.listelements | size %}
			{%  assign n = n | minus: 2  %}
			<li>{{ result.listelements | slice: 2, n }}</li>
            {% endfor %}
        </ol></td>
    </tr>

    <tr>
        <th>Lehr- und Lernmethoden</th><ul><td>
        {% assign tests = page.rdf | rdf_property: '<https://schema.org/interactivityType>', nil, true %}

        {% for res in tests %}
        <li>{{res}}<br /></li>
        {% endfor %}
    </td></ul></tr>

    <tr>
        <th>Literatur</th>
        <td><ul class="list-unstyled">
            {% capture citation_query %}
            SELECT DISTINCT ?headline ?authorName WHERE {
            ?resourceUri <https://schema.org/citation> ?citation.
            ?citation a <https://schema.org/Book>;
            <https://schema.org/author> ?author;
            <https://schema.org/headline> ?headline.
            ?author <http://www.w3.org/2000/01/rdf-schema#label> ?authorName.
            }
            ORDER BY ASC(?headline)
            {% endcapture %}
            {% assign listelements = page.rdf | sparql_query: citation_query %}
            {% for result in listelements %}
            <li><strong>{{result.authorName}}:<br /></strong>{{result.headline}}</li>
            {% endfor %}
        </ul></td>
    </tr>

    <tr>
        <th>Besonderes</th>
        <td>{{ page.rdf | rdf_property: '<https://schema.org/comment>' }}</td>
    </tr>

     <tr>
    <th>URL</th>
    <td><a href="{{ page.rdf | rdf_property: '<https://schema.org/url>' }}">{{ page.rdf | rdf_property: '<https://schema.org/url>' }}</a></td>
  </tr>

</table>

</div>
</div>
</div>

<div class="copyright py-4 text-center text-white">
    <div class="container">
        <small>Copyright &copy; WIM EKGI @ THB - Team 1</small>
    </div>
</div>

</body>
</html>